@model WebApplication1.Models.Registration

<div>
    <h4>Registration Complete!</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Welcome @Html.DisplayTextFor(m => m.FirstName)!
        </dt>
    </dl>
</div>

